.user-posts-detailed-view {
  background: #fafafa;
  min-height: 100vh;
}
.user-stories-list-items {
  list-style-type: none;
  background: #fafafa;
}
.user-stories-desktop-view {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  max-width: 1110px;
  margin: auto;
  background: #fafafa;
}
.user-stories-desktop-view {
  display: none;
}
.user-stories-mobile-view {
  padding-left: 8%;
  padding-right: 8%;
}
@media screen and (min-width: 768px) {
  .user-stories-desktop-view {
    display: block;
  }
  .user-stories-mobile-view {
    display: none;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  color: #262626;
  padding-top: 25px;
}
